/* l'effet de scroll */
html {
 scroll-behavior: smooth;
}
/* création des variables des police et des couleurs */
:root{
  --mainpurple: #825E7A;
  --mainyellow: #efab00;
  --mainbrown: #DABEB2;
  --secondpurple: rgba(130, 126, 154, .9);
  --fonttitle: 'Archivo Black', sans-serif;
  --fonttext: 'Roboto', sans-serif;
}
body{
  font-family: var(--fonttext);
}
.fa-shopping-cart{
  color: var(--mainbrown);
  &:hover{
    color: lighten(#DABEB2, 7%);
    scale: 1.2;
  }
}
.colored-button{
  background-color: var(--mainbrown);
}
.shopping-cart-in-navbar{
  visibility: hidden;
}
