/* l'effet de scroll */
html {
 scroll-behavior: smooth;
}
/* création des variables des police et des couleurs */
:root{
  --deepgreen: #35542A;
  --mainyellow: #efab00;
  --mainbrown: #DABEB2;
  --greenbtn: #9DCC88;
  --greybtnandicons: #78858b;
  --secondpurple: rgba(130, 126, 154, .9);
  --fonttitle: 'Archivo Black', sans-serif;
  --fonttext: 'family=Roboto', sans-serif;
  --fontnavbar: 'Merienda One', cursive;
}
body{
  font-family: var(--fonttext);
}
// les liens de la navbar
.nav-link{
  font-family: var(--fontnavbar);
  font-size: 2rem;
  margin: 0 3rem;
}
/* l'image du fond pour les sections à propos et contact-area */
#banner{
  background-image: url("../img/bannerveggie.jpg");
}
#lowerBanner{
  background-image: url("../img/banner.jpg");
}
// /* l'effet paralax pour deux images */
#lowerBanner,
#banner{
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// le panier: celui dans la navbar et aussi sur les cartes
.fa-shopping-cart{
  color: var(--mainbrown);
  &:hover{
    color: lighten(#DABEB2, 7%);
    scale: 1.2;
  }
}
.shopping-cart-in-navbar{
  visibility: hidden;
}
// les boutons sur les cartes
.colored-button{
  background-color: var(--mainbrown);
}
// le bouton voir plus et les boutons des catégories sont générer avec js (ne sont pas présents en html)
.btn-maingreen{
  background-color: var(--greenbtn);
  border-radius: 2rem;
}
.categories{
  width: 8rem;
  height: 3rem;
  text-align: center;
  margin: 0 1rem;
  padding: .2rem;
}
/* la barre de recherche: input #searchBar et icone de recherche */
#searchBar{
height: 3rem;
border: 1px solid var(--deepgreen);
border-radius: 1rem;
&:focus{
  outline: none;
}
}
label,
input,
.icon{
  width: 30vw;
}
label{
  font-family: var(--fonttitle);
  font-size: 1.5rem;
}
.fa-search{
position: relative;
font-size: 1.5rem;
z-index: 1;
top: 3.4rem;
padding-right: .5rem;
color: var(--deepgreen);
}
.footer-transparent{
  width: 100%;
  margin-top: 20rem;
  height: 15vh;
  background-color: rgba(255, 255, 255, .5);
}
#newsletter{
  width: 20rem;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #4f5858;
  outline: 0;
  height: 1.5rem;
  font-size: 1rem;
}
.greybnt{
  width: 7vw;
  font-size: .8rem;
  background-color: var(--greybtnandicons);
  &:hover{
    background-color: lighten(#78858b, 7%);
  }
}
.in-footer{
  color: var(--greybtnandicons);
  margin: 0 1rem;
}
// la page cart.html
small{
  text-decoration: underline;
  cursor: pointer;
}
@media (min-width: 350px) and (max-width: 699px){
  .categories{
    margin: 1rem;
  }
  label,
  input,
  .icon{
    width: 90vw;
  }
  #lowerBanner,
  #banner{
    min-height: 450px;
  }
  #btn-see-more{
    width: 7rem;
  }
  .nav-link{
    font-size: 1rem;
  }
  .footer-transparent{
    height: 15rem;
    flex-direction: column;
    span{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      button{
        width: 30%;
        margin: .2rem;
      }
    }
  }
#lowerBanner{
  i{
    scale: .9;
  }
  small{
    font-size: .8rem;
    margin: .1rem;
  }
}
}
@media (min-width: 700px) and (max-width: 1250px) {
  #btn-see-more{
    width: 7rem;
  }
  label,
  input,
  .icon{
    width: 60vw;
  }
  .nav-link{
    font-size: 1.5rem;
  }
}
